version: '3.8'

services:
  estoque-api:
    build:
      context: .
      dockerfile: Dockerfile.estoque
    ports:
      - "8081:8080" 
    environment:
      - ConnectionStrings__DefaultConnection=Server=sql-server;Database=KorpEstoqueDB;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True
      - ConnectionStrings__RabbitMQ=amqp://rabbitmq
    depends_on:
      sql-server:
        condition: service_healthy 
      rabbitmq:
        condition: service_started

  faturamento-api:
    build:
      context: .
      dockerfile: Dockerfile.faturamento
    ports:
      - "8082:8080" 
    environment:
      - ConnectionStrings__DefaultConnection=Server=sql-server;Database=KorpFaturamentoDB;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True
      - ConnectionStrings__RabbitMQ=amqp://rabbitmq
    depends_on:
      sql-server:
        condition: service_healthy
      rabbitmq:
        condition: service_started

  frontend-app:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "4200:80" 
    depends_on:
      - estoque-api
      - faturamento-api

  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${DB_PASSWORD}
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "${DB_PASSWORD}", "-Q", "SELECT 1"]
      interval: 10s
      timeout: 3s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"